body {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5rem;
  margin: 16px;
  background-color: rgb(255 253 242);

  &:has(.vertical) {
    writing-mode: vertical-rl;
  }
}